<!DOCTYPE html>
<hr lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Armin</title>
    <style>
      body {
        background-color: rgb(146, 177, 7);
      }
    </style>
  </head>
  <body>
    <img src="/banner/vp_banner_2024.png" alt="banner" />
    <h1 style="border: 2px solid rgb(0, 0, 0)">
      &#128526; FILMID &#129312;
    </h1>
  </hr>
  <h1>Eesti film</h1>
  <ul>
    <li> <a href="/">Avaleht</a></li>
    <li> <a href="/eestifilm/tegelased">Eesti filmi tegelased</a></li>
    <li> <a href="/eestifilm/movies">Filmid</a></li>
  </ul>
</hr>
  <ul>
    <li><a href="/eestifilm/sisestus">Sisesta siin uusi andmeid</a></li>
  </ul>
  </body>
</html>
