<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Armin</title>
    <style>
      body {
        background-color: rgb(199, 179, 137)
      }
    </style>
  </head>
  <body>
  <hr>
    <img src="/banner/vp_banner_2024.png" alt="banner" />
    <h1 style="border: 2px solid rgb(0, 0, 0)">
      Armin Jaemaa, Informaatika tudeng Tallinna Ülikoolis, 1.õppeaasta
      &#128526; vot siin on väga palju infot onju &#129312;
    </h1>
    <img src="/meme/meme.webp" alt="kerge meem" width="300" height="280" />
    <p>
      See veebileht on loodud
      <a href="https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a>
      õppetöö eesmärgil ja siin ei ole tõsist infot.
    </p>
    <p> Semestri algusest on möödas <%= semestrist %> päeva </p>
  </hr>
  <ul>
    <li> <a href="/timenow">Ajainfo</a></li>
    <li> <a href="/justlist">Vanasõnad</a></li>
    <li> <a href="/reqvisit">Registreeri oma külastus (txt.faili põhine)</a></li>
    <li><a href="/visitlog">Külastajate nimekiri, (txt.faili põhine)</a></li>
    <li><a href="/regvisitdb">Registreeri oma külastus</a></li>
    <li><a href="/visitlogdb">Külastajate nimekiri</a></li>
    <li> <a href="/eestifilm">Eesti film</a></li>
  </ul>
  <hr>
  <ul>
    <li> <a href="/add_news">Lisa uudis</a></li>
    <li> <a href="/news">Uudised</a></li>
  </ul>
<hr>
  <ul>
    <li> <a href="/photoUpload">Pildi laadimine</a></li>
    <li> <a href="/images">Pildid</a></li>
  </ul>
  </body>
</html>
