<!DOCTYPE html>
<hr lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Armin</title>
    <style>
      body {
        background-color: rgb(156, 224, 101);
      }
    </style>
  </head>
  <body>
    <img src="/banner/vp_banner_2024.png" alt="banner" />
    <h1 style="border: 2px solid rgb(0, 0, 0)">
      &#128526; Filmid &#129312;
    </h1>
  </hr>
  <ul>
    <li> <a href="/">Avaleht</a></li>
    <li> <a href="/eestifilm">Eesti film</a></li>
    <li> <a href="/eestifilm/tegelased">Tegelased</a></li>
  </ul>
</hr>
  <h2> Eesti filmid </h2>
  <ol>
    <% movies.forEach(function(item){ %>
      <li><%= item.title %>, <%= item.production_year %></li>
    <% }); %>
  </ol>
  </body>
</html>
