<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Armin</title>
    <style>
      body {
        background-color: rgb(199, 179, 137);
      }
    </style>
  </head>
  <body>
    <h1>Vilja töö</h1>
    <hr />
    <ul>
      <li><a href="/vili_insert">Sisesta andmeid</a></li>
      <li><a href="/kokkuvote">Kokkuvõte andmetest</a></li>
    </ul>
  </body>
</html>
