<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Armin</title>
    <style>
      body {
        background-color: rgb(27, 203, 216);
      }
    </style>
  </head>
  <body>
    <img src="/banner/vp_banner_2024.png" alt="banner" />
    <h1 style="border: 2px solid rgb(0, 0, 0)">
      &#128526; Külastajate nimekiri &#129312;
    </h1>
  </hr>
  <ul>
    <li> <a href="/">Tagasi avalehele</a></li>
  </ul>
</hr>
  <h2>Külastajate nimekiri andmebaasist</h2>
  <ol>
    <% visits.forEach(function(item){ %>
      <li><%= item.first_name %> <%= item.last_name %>, külastus <%= item.visit_time %></li>
    <% }); %>
  </ol>
  </body>
</html>
